<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{{$person:= .}}
{{$name:= .Name}}
{{$age := .Age}}
<body>
    <h2>Hi {{$name}}, Your age is {{$age}}</h2>
    <h3>Hi {{$person}}</h3>
</body>
</html>